.alluser_info{
    width:80%;
    margin:4rem auto;
    font-size: 1.5rem;
}

.alluser{
   width:80%;
   margin:2rem auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:3rem; 
}

.userListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 450px;
    overflow: scroll;
  }
  
  .userCard {
    width: 450px;
    height: 100px;
    background-color: #f2f2f2;
    color: #292f3f;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 1.15rem;
    display: table-column;
    align-items: center;
    justify-content: center;
  }
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .searchContainer{
    display: flex;
    gap:1rem;
    border-radius: 2rem;
    padding-inline: 1rem;
    background-color: rgba(0,0,0,0.25);
    color:#f2f2f2;
    width: 20rem;
}

.searchContainer input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    color: #f2f2f2;
    font-size: 1.5rem;
    margin-left:1.8rem;
}
  

@media (max-width:35em){
    .alluser_info{
        width: 90%;
        font-size: 1rem;
        margin: 2rem auto;
    }

    .alluser_info h1{
      font-size: 1.5rem;
    }

    .alluser{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .userCard {
        width: 350px;
        height: 100px;
        background-color: #f2f2f2;
        color: #292f3f;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin: 10px;
        font-weight: bold;
        font-size: 1.15rem;
        display: table-column;
        align-items: center;
        justify-content: center;
      }
}