/* Homepage.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .image {
    width: 1150px;
    height: 850px;
  }

  @media (max-width:550px){
   
    .container{
      margin-top:20px;
    }

    .container h1{
      font-size:1rem;
    }

    .image {
     width: 500px;
     height: 450px;
    }
  }
  